body {
    background-color: #e6ecf0;
}

.message {
}

.timestamp {
    color: gray;
}

.user {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;

}

#showAllTweets {
    width: 200px;
    margin: auto;
    margin-bottom: 7px;
}

button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 7px;
    border: 2px solid #008CBA;
    
}

button:hover {
    background-color: #00aced; 
    color: white; 
    border-radius: 7px;
    border-color: #00aced;
}

.tweet {
    border-style: outset;
    background-color: white;
    width: 450px;
    margin-bottom: 7px;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    margin: auto;
}

.user {
    float: left;
}

.timestamp {
    float: right;
}

.message {
    clear: left;
    margin-top: 10px;
}
